form {
    width: 50vw;
    display: grid;
    grid-template-columns: auto auto;
}

form label, form input {
    display: block;
}

button {
    display: none;
}

textarea {
    display: none;
    width: 50vw;
    height: 10vh;
}